*{
    padding: 0;
    margin: 0;
}

:root {
    --color-1: black;
    --color-2: white;
    --color-3: #E9C46A;
    --color-4: #2A9D8F;
    --bordo: 4vh;
    --dimensione-form: 2.9vh;
    --dimensione-title: 6vh;
    --dimensione-sub: 2.9vh;
  }
  
html, body {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Hides the scrollbars */
    padding: 0 0 0 0; /* Removes default padding */
    margin: 0 0 0 0; /* Remove the margin */
}
.typewriter p {
    display: inline-block;
    border-right: 2px solid black;
    overflow: hidden;
    animation: caret 1s steps(1) infinite;
}

.header{
    background-color: var(--color-3);
    margin: 0;
    padding: var(--bordo);
}

h1{
    margin: 0;
    padding: 0;
    font-size: var(--dimensione-title);
}

@keyframes caret {
    0% {
        border-color: transparent;
    }
}
.asset {
    width: 50%;
}

.info{
    width: 70%;
}

input:hover{
    background-color: var(--color-4);
    color: var(--color-2);
}

input {
    margin: 4px 0;
    border: none;
    border-bottom: 3px solid var(--color-1); /* Light gray border */
    background-color: transparent; /* Transparent background */
    font-size: var(--dimensione-form);
}



input:focus {
    outline: none;
    border-bottom-color: #000; /* Black border on focus */
}

button {
    width: 100%;
    cursor: pointer;
    font-size: var(--dimensione-sub);
    background-color: var(--color-3);
    border: none;
    border-bottom: 2px solid var(--color-1);
}

button:hover {
    background-color: var(--color-4); /* Color when hovered */
    color: var(--color-2);
}

.form_container {
    display: flex;
    flex-direction: row;  
}
.personal_info_container{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.form-container {
    /* display: flex; */
    justify-content: space-evenly;
    width: 48%;
    margin-right: var(--bordo);

    flex-direction: row;
    height: fit-content;
}

label {
    font-size: var(--dimensione-form);
    width: 40%;
    margin: 4px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.asset-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 5.5vh;
}


.percentage {
    width: 20%;
}


.content {


    display: flex;
    flex-direction: row;

    padding: var(--bordo);
    padding: var(--bordo);

    
    height: 55%;
   
}

.analysis-container {
    font-size: 20px;

    width: 48%;

    word-wrap: break-word;

    overflow-y:scroll;

    font-size: var(--dimensione-form);
    
}

p.analysis-container{
    text-align: justify; /* to make sure it breaks the word */
    overflow: hidden;

    display: block; /* or inline-block, at least its a block element */
    height: auto; /* height cannot be defined */
    word-break: break-world; /*  */
    white-space: normal; 
    

}

#analysis-text{
    display: block; /* or inline-block, at least its a block element */
    height: auto; /* height cannot be defined */
    word-break: break-world; /*  */
    white-space: normal; /* be sure its not 'nowrap'! ! ! :/ */
    
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--color-3);
}

.footer-text{
    padding-left: var(--bordo);
    padding-right: var(--bordo);
}

a{
    color: var(--color-1);
    
}

a:hover{
    color: var(--color-2);
    text-decoration: line-through;
    background-color: var(--color-4);
}

h3{
    font-size: var(--dimensione-sub);
}






/* ------------------
ANIMATION
*/


.wait-animation {
    font-size: 24px;
    font-family: Arial, sans-serif;
}

.dots::after {
    content: '';
    animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
    0%, 20% {
        content: '';
    }
    40% {
        content: '.';
    }
    60% {
        content: '..';
    }
    80%, 100% {
        content: '...';
    }
}

.slider-container{
    background-color: var(--color-4);
    color: var(--color-2);
    font-size: var(--dimensione-form);
}

div.slide-left {
  width:100%;
  overflow:hidden;
}
div.slide-left p {
  animation: slide-left 10s linear;
  animation-iteration-count: infinite;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
