<!DOCTYPE html>
<html>
<head>
    <title>My Static Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap" rel="stylesheet">


    <link
            href="{{url_for('static',path='/style.css')}}"
            rel="stylesheet"
        />
        <link
        href="{{url_for('static',path='/font.css')}}"
        rel="stylesheet"
    />
</head>
<body class="poppins-regular">
    <div class="header">
        <h1>I'm <s>NOT</s> a financial advisor</h1>
        <h3>But I can still tell you my honest opinion about your awful portfolio. <br> 
        Please provide your assets (as listed in <a href="https://finance.yahoo.com/" target="_blank">Yahoo Finance</a>)
        and the percentage (as a integer) you want to allocate to each asset. <br>
        
    </h2>
    </div>
    
    <div class = "content">
        <div class ="form-container" >
            <div class = "asset-form-container">
                <div class="asset-form">
                    <label for="asset-1">Asset #1</label>
                    <input list="assets" class="asset poppins-bold" value = "AAPL" id = "asset-1">
                    <input type="number"  list="percentages" value = "20" class = "percentage" id = "percentage-1">
                </div>
                <div class="asset-form">
                    <label for="asset-1">Asset #2</label>
                    <input list="assets" class="asset poppins-bold" value = "TSLA" id = "asset-2">
                    <input type="number"  list="percentages" value = "20" class = "percentage" id = "percentage-2">
                </div> 
                <div class="asset-form">
                    <label for="asset-1">Asset #3</label>
                    <input list="assets" class="asset poppins-bold"  value = "MSFT" id = "asset-3">
                    <input type="number"  list="percentages" value = "20"class = "percentage" id = "percentage-3">
                </div> 
                <div class="asset-form">
                    <label for="asset-1">Asset #4</label>
                    <input list="assets" class="asset poppins-bold" value = "IWDA.AS" id = "asset-4">
                    <input type="number"  list="percentages" value = "20" class = "percentage" id = "percentage-4">
                </div> 
                <div class="asset-form">
                    <label for="asset-1">Asset #5</label>
                    <input list="assets" class="asset poppins-bold" value = "SPY" id = "asset-5">
                    <input type="number"  list="percentages" value = "20" class = "percentage" id = "percentage-5">
                </div>
                
            </div>

            <div class = "personal_info_container">
                <div class="asset-form">
                    <label for="portfolio-value">Portfolio Value</label>
                    <input  class="asset poppins-bold" type = "number" value = "10000" id = "portfolio-value">
                </div>

                <div class="asset-form">
                    <label for="salary">Salary</label>
                    <input  class="asset poppins-bold" type="number" value = "60000" id = "salary">
                </div>

                <div class="asset-form">
                    <label for="job">Job</label>
                    <input  class="asset poppins-bold"  value = "Pilot" id = "job">
                </div>

                <div class="asset-form">
                    <label for="country">Country</label>
                    <input  class="asset poppins-bold" list = "countries" value = "Paraguay" id = "country">
                </div>

                <div class="asset-form">
                    <label for="age">Age</label>
                    <input  class="asset poppins-bold" type = "number" value = "13" id = "age">
                </div>
        
            </div>

            <datalist id="assets">
                    <option value="AAPL">
                    <option value="TSLA">
                    <option value="SPY">
                    <option value="MSFT">
                    <option value="^DJI">
                    <option value="IWDA.AS">
                    <option value="^RUT">
                    <option value="SPY">
                    <option value="^FCHI">
            </datalist>
            

        </div>
        <button onclick="submitForm()"> ANALYZE!</button>

        <div class = "analysis-container typewriter">
                <p id="analysis-text" style="text-align: justify; overflow: hidden"></p>
        </div>
    </div>

    <div class="footer">
        <h3 class="footer-text">Created with LOVE by <a href="https://www.linkedin.com/notifications/?filter=all" target="_blank">Giacomo Maggiore</a></h3>
        <h3 class="footer-text"><a href="https://buymeacoffee.com/giacomomaggiore">Buy me a coffe☕️</a></h3>
    </div>
    
        <script src="{{url_for('static',path='/script.js')}}"></script>

</body>
</html>